@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700');
@import url('font-awesome.css');
@import url('animate.css');

/*-------------------
    Default
-------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
    overflow-x: hidden;
}

a:active {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.7rem;
    font-weight: 600;
    white-space: nowrap;
}

h6 {
    font-size: 0.85rem;
}

.container {
    padding: 0 19.5%;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.btn {
    box-sizing: border-box;
    display: flex;
    color: #000;
    padding: 12px 20px;
    border-color: #fff;
    background-color: #fff;
}

.btn:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
    transition: ease .3s;
}

.services,
.about,
.clients,
footer,
.about_main,
.benefits,
.team,
.services_header,
.services,
.plans,
.contacts {
    padding: 3% 19.5%;
}

.headline {
    display: flex;
    background-color: #F4783B;
    padding: 30px 19.5%;
    align-content: center;
}

.headline h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0;
}

/*-------------------
    Header
-------------------*/

.header {
    display: flex;
    padding: 30px 0;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header_logo {
    flex-grow: 6;
}

.header_nav {
    flex-grow: 2;
}

.header_nav nav > ul {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

.header_nav nav > ul > li {}

.header_nav li > a {
    color: #909090;
    text-transform: uppercase;
}

.header_nav li > a:hover {
    color: #F43B3B;
}

.header_nav li.active > a {
    color: #FFFFFF;
    background: #F4783B;
    border-radius: 0;
    padding: 10px;
}

/*-------------------
    Banner
-------------------*/

.banner {
    background: url(../images/slides/1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 620px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.banner:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(48, 17, 17, 0.52);
}

.banner h1,
h3 {
    color: white;
}

.banner h1 {
    font-size: 3rem;
}

.banner p {
    font-size: 1.5rem;
    color: #fff;
}

/*-------------------
    Banner_welcome
-------------------*/

.banner_welcome {
    background-color: #F4783B;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 71px 19.5%;
}

.banner_welcome__info {
    flex-grow: 5;
    color: #fff;
    padding-right: 10%;
}

.banner_welcome__info h3 {
    line-height: 0.8rem;
}

.banner_welcome__action {
    align-self: center;
    flex-grow: 2;
    white-space: nowrap;
}

/*-------------------
    Services
-------------------*/

.services {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.services > p {
    margin-bottom: 4%;
}

.services_items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

.service_item {
    flex-basis: 23%;
}

.service_icon {
    box-sizing: border-box;
    border: 1px solid #C8C8C8;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #868686;
    display: inline-table;
    padding-top: 30px;
    margin-bottom: 40px;
    height: 94px;
    font-size: 2.3rem;
    width: 94px;
}

.services_gallery {
    display: flex;
    padding: 0 19.4%;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

#filterOptions {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    justify-content: center;
}

#ourHolder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#filterOptions li {
    border: 1px solid #ccc;
    border-radius: 20px;
    display: block;
    margin-right: 50px;
    text-align: center;
    padding: 8px 20px;
}

#filterOptions li a {
    color: #353535;
}

#filterOptions li a:hover {
    color: #000;
}

#ourHolder .item {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 22.5%;
    text-align: center;
}

#ourHolder h3 {
    color: rgba(0, 0, 0, 0.6);
}

/*-------------------
    About
-------------------*/

.about {
    background-color: #E8E8E8;
    display: flex;
    flex-flow: column nowrap;
}

.about h2,
.about p {
    text-align: center;
}

.about > p {
    margin-bottom: 4%;
}

.about_information {
    display: flex;
    flex-flow: row nowrap;
}

.about_text,
.about_img {
    flex-grow: 1;
}

.about_text {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 4%;
}

.about_text p {
    text-align: left;
    margin-bottom: 6%;
}

.about_text ul {
    margin-left: 20px;
    margin-bottom: 2%;
}

.about_text li {
    margin-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
    display: list-item;
}

.about_text a {
    align-self: center;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    padding: 2% 6%;
    text-align: center;
    white-space: nowrap;
}

/*-------------------
    Clients
-------------------*/

.clients {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.clients p {
    margin-bottom: 4%;
}

.clients_list {
    display: flex;
    margin-bottom: 2%;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.clients_item {
    height: 76px;
    width: 138px;
    cursor: pointer;
    transition: box-shadow .1s linear;
}

.client_item_1 {
    background: url(../images/client1.png) 0 -75px;
}

.client_item_2 {
    background: url(../images/client2.png) 0 -75px;
}

.client_item_3 {
    background: url(../images/client3.png) 0 -75px;
}

.client_item_1:hover {
    background: url(../images/client1.png) 0 0;
}

.client_item_2:hover {
    background: url(../images/client2.png) 0 0;
}

.client_item_3:hover {
    background: url(../images/client3.png) 0 0;
}

/*-------------------
    Footer
-------------------*/

footer,
.underFooter {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-beetwen;
}

.footer_contact,
.footer_links,
.footer_posts,
.footer_news {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

.footer_header h5 {
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.footer_text {
    margin-bottom: 1.6rem;
}

.footer_text p > span {
    color: #797979;
    font-weight: 700;
    line-height: 1.6rem;
}

.footer p,
.footer li,
.footer a,
.footer_list a {
    color: #8C8C8C;
    line-height: 1.6rem;
    margin-bottom: 10px;
}

.footer_list a:hover {
    color: #fff;
}

.footer_contacts__phone {
    color: #fff;
}

.footer_contacts__email {
    color: #fff;
}

/*-------------------
    underFooter
-------------------*/

.underFooter {
    padding: 0 19.6%;
    padding-bottom: 1%;
    justify-content: space-between;
}

.underFooter p {
    font-size: 0.7rem;
    color: #fff;
}

.underFooter_social {
    align-self: flex-end;
}

.underFooter_social ul li {
    border: 1px solid #2D2D2D;
    box-sizing: border-box;
    display: inline-table;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 5px 10px;
    margin-right: 15px;
}

.underFooter_social ul li i:hover {
    color: #8C8C8C;
    transition: ease 0.5s;
}

.underFooter_social ul:last-child {
    margin-right: 0;
}

.underFooter_social ul li a {
    color: #fff;
}

/*-------------------
START OF about PAGE
-------------------*/

/*-------------------
.about_main
-------------------*/

.about_main {
    display: flex;
    flex-flow: row nowrap;
}

.about_main img {
    border: 3px solid #C8C8C8;
    margin-right: 70px;
}

.about_main__text {
    display: flex;
    padding-top: 2%;
    flex-flow: column nowrap;
}

.about_main__header h2 {
    color: #333;
    line-height: 1.1rem;
    font-weight: 700;
    margin-bottom: 4%;
}

/*-------------------
.benefits
-------------------*/

.benefits {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.benefits_item {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 33%;
    margin-right: 35px;
}

.benefits_item__last {
    margin-right: 0;
}

.benefits_item li {
    background: #f2f2f2;
    padding: 10px 15px;
    margin-bottom: 4px;
}

.benefits_item li a {
    color: #656565;
    line-height: 1.5rem;
}

.benefits_item li a:hover {
    color: #000;
    transition: 0.4s;
}

.benefits_item i {
    font-size: 17px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    color: #F4783B;
    text-align: center;
    border-radius: 50%;
    margin-left: 6px;
    font-weight: bold;
}

.benefits_area__item h6 {
    color: #333;
}

/* Loading Bar */

.load-bar {
    position: relative;
    margin: 9px 0;
    width: 82%;
    height: 6px;
    background-color: #fdba2c;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

.bar1:nth-child(1) {
    background-color: #cc8251;
    animation: loading 3s linear infinite;
}

.bar1:nth-child(2) {
    background-color: #efdb28;
    animation: loading 3s linear 1s infinite;
}

.bar1:nth-child(3) {
    background-color: #cc2c71;
    animation: loading 3s linear 2s infinite;
}

.bar2:nth-child(1) {
    background-color: #2953bc;
    animation: loading 3s linear infinite;
}

.bar2:nth-child(2) {
    background-color: #37e8aa;
    animation: loading 3s linear 1s infinite;
}

.bar2:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

.bar3:nth-child(1) {
    background-color: #ba1477;
    animation: loading 3s linear infinite;
}

.bar3:nth-child(2) {
    background-color: #190808;
    animation: loading 3s linear 1s infinite;
}

.bar3:nth-child(3) {
    background-color: #c6c6c6;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}

/*-------------------
      .team
-------------------*/

.team {
    display: flex;
    flex-flow: column nowrap;
}

.team h3 {
    color: #333;
    font-size: 1.18rem;
    font-weight: 600;
}

.team_members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.team_member {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    text-align: center;
}

.team_member img {
    border: 3px solid #C8C8C8;
    width: 90%;
    margin-bottom: 5%;
}

.team_member h3 {
    margin-bottom: 5px;
}

.team_member p {
    color: #656565;
}


/*-------------------
START OF .services PAGE
-------------------*/

/*-------------------
   .services_header
-------------------*/

.services_header h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
}

.services_header p {
    margin-bottom: 1%;
}

/*-------------------
      .skills
-------------------*/

.skills {
    display: flex;
    flex-flow: row wrap;
    padding: 0 19.5%;
    justify-content: space-between;
}

.skills_item {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 30%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.skills_icon {
    align-items: center;
    background-color: #E6E6E6;
    box-sizing: border-box;
    display: flex;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    justify-content: center;
    margin-right: 5%;
}

.skills_icon i {
    color: #F4783B;
    font-size: 2.14rem;
    text-align: center;
}

.skills_text {
    flex-grow: 3;
}

.skills_text h6,
.skills_text p {
    letter-spacing: 0.4px;
}

.skills_text h6 {
    margin-bottom: 2%;
}

/*-------------------
      .services
-------------------*/

.services {
    display: flex;
    flex-flow: row nowrap;
}

.services_item {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 30%;
    margin-right: 3%;
    text-align: left;
}

.services_item img {
    margin-bottom: 5%;
    max-width: 100%;
}

.services_item h4 {
    font-weight: 700;
}

/*-------------------
START OF .pricing PAGE
-------------------*/

/*-------------------
    .pricing
-------------------*/

.plans {
    display: flex;
    flex-flow: row nowrap;
}

.plans_item {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 21%;
    margin-right: 2%;
    justify-content: space-between;
}

.plans_header {
    border: 1px solid #ededed;
    border-bottom: 3px solid #b2b2b2;
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.plans_header h3 {
    color: #000;
    font-weight: 700;
}

.plans_price,
.plans_technologies ul,
.plans_action {
    text-align: center;
}

.plans_price,
.plans_technologies li,
.plans_action {
    padding: 15px 0;
}

.plans_price {
    border-bottom: 1px dashed #ededed;
    color: rgb(244, 120, 59);
    font-style: italic;
    font-size: 1.21rem;
    font-family: "Noto Serif", serif;
}

.plans_technologies ul {
    text-align: center;
}

.plans_technologies li {
    border: 1px solid #ededed;

}

.plans_action {
    border: 1px solid #ededed;
    padding: 15px 0;
}

.plans_action a {
    color: #fff;
    display: block;
    background-color: rgb(244, 120, 59);
    text-align: center;
}

/*-------------------
Start Of Contacts page
-------------------*/

/*-------------------
    .contacts
-------------------*/

.contacts {
    display: flex;
    flex-flow: row nowrap;
}

.contacts h4 {
    margin-top: 5%;
}

.contact_form {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin-right: 5%;
}

.contact_form form {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2%;
}

.contact_form form * {
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 1%;
    text-align: left;
}

.contact_form a {
    justify-content: center;
    align-content: center;
    align-self: center;
}

.contact_form .btn {
    background-color: #F4783B;
    box-sizing: none;
    color: #fff;
    display: flex;
    max-width: 150px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.contact_form .btn:hover {
    background-color: #000;
    color: #fff;
}

.contact_map {
    display: flex;
    flex-grow: 1;
}

#map {
    flex-basis: 50%;
}



/*-------------------
mobile view
-------------------*/

/*-------------------
    Header
-------------------*/

@media only screen and (max-width: 1025px) {

    .container {
        padding: 0 4%;
    }

    .services,
    .about,
    .clients,
    footer,
    .about_main,
    .benefits,
    .team,
    .services_header,
    .services,
    .plans,
    .contacts {
        padding: 3% 4%;
    }

    .headline {
        justify-content: center;
        margin-bottom: 20px;
    }


    .header_logo {
        flex-grow: 2;
    }

    .header_nav {
        flex-grow: 6;
    }

    .header_nav li.active > a {
        padding: 10px 30px;
    }


    /*-------------------
    Banner_welcome
    -------------------*/
    .banner_welcome {
        padding: 71px 4%;
    }

    /*-------------------
    Services
    -------------------*/
    .services {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    }

    .service_item {
        flex-basis: 20%;
    }

    /*-------------------
    About
-------------------*/
    .about_text a {
        display: flex;
        flex-grow: 4;
        align-self: center;
        padding: 2% 10%;
    }

    /*-------------------
    Start of Services
-------------------*/
    .skills {
        padding: 2% 4%;
    }

    .services_item h4 {
        order: 1;
    }

    .services_item p {
        order: 2;
        margin-bottom: 10px;
    }

    .services_item img {
        order: 3;
    }
}

@media only screen and (max-width: 769px) {
    /*-------------------
    Services
    -------------------*/
    .services {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    }

    .services_items {
        flex-flow: column nowrap;
    }

    .service_item p {
        margin-bottom: 20px;
    }


    .services_gallery {
        padding: 0 4%;
    }

    #filterOptions {
        flex-flow: column nowrap;
    }

    #ourHolder {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    #filterOptions li {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #ourHolder .item {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 48%;
        text-align: center;
    }

    /*---------------
    About .index_html
    ---------------*/
    .about_img {
        display: none;
    }

    .about_text {
        display: flex;
    }

    .about_text ul {
        align-self: center;
    }

    .clients_list {
        flex-flow: row wrap;
    }
    /*-------------------
    About
-------------------*/
    .about_main {
        flex-flow: column nowrap;
    }

    .about_main img {
        align-self: center;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
    }

    .about_main__header {
        align-self: center;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 426px) {
    .header_nav {
        display: none;
    }

    .banner p {
        text-align: center;
    }

    .banner_welcome {
        flex-flow: column nowrap;
    }

    .banner_welcome__info {
        padding-right: 0;
    }
    .banner_welcome h3,
    .banner_welcome p {
        text-align: center;
    }

    .banner_welcome p {
        margin-bottom: 20px;
    }

    .service_icon {
        margin-bottom: 10px;
    }

    footer {
        flex-flow: column nowrap;
        padding: 10%;
    }

    .footer_contact,
    .footer_links,
    .footer_posts,
    .footer_news {
        margin-bottom: 10px;
    }

    .footer_news,
    .footer_posts {
        display: none;
    }

    .underFooter {
        flex-flow: column nowrap;
        padding: 0 4%;
    }

    .underFooter_text {
        margin-bottom: 10px;
    }

    .underFooter_social {
        align-self: baseline;
    }

    .plans {
        flex-flow: column nowrap;
    }

    .contacts {
        flex-flow: column nowrap;
    }

    .about_main__header h2 {
        line-height: 2rem;
    }

    .benefits {
        flex-flow: column nowrap;
        align-items: center;
    }

    .benefits_item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .benefits_item h4 {
        text-align: center;
    }

    .team {
        text-align: center;
    }

    .team_members {
        flex-flow: column nowrap;
    }


}
